body {
  background-color: #eaf6f6;
}

img {
  height: 200px;
  border-radius: 50%;
}

h1 {
  color: #66bfbf;
  font-size: 2.5em;
  line-height: 15px;
  letter-spacing: 2px;
}

h3 {
  color: #66bfbf;
  letter-spacing: 1px;
  font-size: 1.5em;
}

hr {
  border-style: none;
  width: 4%;
  border-top: 5px dotted grey;
}
